.body{

  font-family: sans-serif;
  width: 0px;
  margin:auto;
  padding:0px;
 
}

/* Nav bar*/
.head{
  padding: 20px;
}
ul{
     
}
ul li{
      list-style: none;

     display: inline-block;
     padding: 10px;
}
ul li a{
  text-decoration: none;
  color:#fff;
}
.logo h1{
  margin-top: -10px;
  color:red;
  margin-left: 10px;
  
}

/* thummnil section*/

.container-2{
  background-color: black;
  color:#fff;
  padding:20px;
}
.text_thumbnil{
  text-align: center;
}
/* About section */
.about_section{
    text-align: center; 
    padding:10px;      

}
.about_section p{
  color:red;
}
.about_pc img{
  width: 300px;
  
  margin:20px,30px;
  box-shadow: 5px 3px 4px 1px #888888;
}
/* SErvice section*/
.service{
  text-align: center;
  color: #fff;
  padding-top:30px;
}
#depence{
  
}
#sct{
  
  padding-bottom:50px;
  justify-content: center;
}
.sub_text{
  text-align: center;
  color:#fff;
  border:2px solid #fff;
  
}
#sector{
  margin-left: 10px;
  margin-top:30px;
}
.service p{
  color: red;
  
}
#row{
 
   
}
.col-3{
  padding: 10px;
  text-align: center;
  color:#fff;
  border: 2px solid gray;
  margin-left:10px;
  
  
}
.code{
  color:red;
}

        /*skill */
 
.skill_text{
  text-align: center;
}
.col-5{
  padding-top:50px;
}
.skill_text p{
  color:red;
}
.container{
  width: 500px;
}
.sujon{
  background-color: lightgray;
  width: 100%;
  
  
}

.hossain{
  background-color: red;
  width: 90%;
  text-align: right;
  
}
.hossain1{
  width: 80%;
  background-color: red;
  text-align: right;
}
.hossain2{
  width: 40%;
  background-color: red ;
  text-align: right;
}
.hossain3{
  width: 50%;
  background-color: red ;
  text-align: right;
}
.hossain4{
  width: 70%;
  background-color:red ;
  text-align: right;
}
.hossain5{
  width: 60%;
  background-color:red;
  text-align: right;
}
/* team  */
#sector-team{

  color:#fff;
  border: 2px solid #fff;
  Margin-top:20px;
  margin-left: 20px;
  text-align: center;
  
}
.my-team-text{
  text-align: center;
  color: #fff;
  padding-top:30px;
 
}
.my-team-text p{
  
  color: red;
 
}
#padding{
  padding: 40px;
  justify-content: center;
}
.info{
  padding:10px;
}
/* Contact */
.contact_text{
       text-align: center;
}
.contact_text p{
      color: red;
}
#margin{
  margin-left: 70px;
  
}
form{

}
input{
  width: 100%;
}
textarea{
  width: 100%;
}


/* Fotter */

#text_color{
  color:#fff;
}
  

/*dasboard */
#dashboard{
       margin-left: 50px;;
}
.dash_text1{
  text-align: center;
}
.dash_text2{
  text-align: center;
}